

/* Contenedor principal */
.home-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #d9d9db;
    margin: 0;
}


/* Estilo para el logo */
.logo {
    width: 500px; 
    height: 500px; 
    object-fit: contain; 
    animation: spin 5s ease-out 1 forwards;
}

/* Animación de giro */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


